.debug{
    border: 1px solid red;
}

.wrapper{
    height: 100vh;
    background-color: black;
}

.fizzbuzz{
    background-color: pink;
   
}

.fizz{
    background-color: #aa82ee;
}

.buzz{
    background-color: rgb(189, 89, 156);
}

.normal{
    background-color: grey;
}

#squares-container{
    width: 900px;
    display:flex;
	justify-content: center;
	margin: auto;
    flex-wrap: wrap;
    gap: 10px;
}

.single-square{
    width: 80px;
    height: 80px;
    display: block;
    display:flex;
	justify-content: center;
	align-items: center;
    color:black;
    overflow-y:auto; 
}

.single-square:hover{
    opacity: 0.5;
}

.white{
    color: white;
}
