.debug{
    border: 1px solid red;
}

.wrapper{
    width: 1200px;
    
   
}

.fizzbuzz{
    background-color: pink;
}

.fizz{
    background-color: #aa82ee;
}

.buzz{
    background-color: yellow;
}

.normal{
    background-color: grey;
}

#squares-container{
    width: 900px;
    display:flex;
	justify-content: center;
	align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.single-square{
    width: 80px;
    height: 80px;
    display:flex;
	justify-content: center;
	align-items: center;
    color:black;
    border: 1px solid red;
  
}
