.debug{
    border: 1px solid red;
}

.container{
    width: 1200px;
}

.squares-container{
    width: 80px;
    height: 80px;
    display:flex;
	justify-content: center;
	align-items: center;
    color:black;
    background-color: aqua;
}

